# Connect or Collect

Este Notebook muestra el pardiagma "Connect or Collect" que permite incorporar datos externos en los analysis de IRIS sin necidad de copiar los datos, mediante la funcionalidad de <b>Foreign Tables</b>

- el CRM exporta la información de clientes en formato CSV. Accedimos a ello sin copia con Foreign Table
- La tienda online mantiene la información de pedidos en su BBDD. Accedimos a ello sin copia con Foreign Table
- La nueva empresa adquerida exporta CSV. Los importamos en IRIS con el Data Mapper de la capa de Interoperabilidad

<img src="./img/escenario.png" style="height:300px">

## Setup

In [18]:
#Some imports
import iris,time,os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Set an environment variable
# os.environ['CLASSPATH'] = '/notebooks/intersystems-jdbc-3.9.0.jar'
# os.environ['JAVA_HOME']= 'usr/lib/jvm/java-11-openjdk'

## Conectar a IRIS

In [3]:
# Use JDBC and JayDeBeAPI to connect and run SQL (IRIS DB-API only allows SQL DML)
import jaydebeapi
url = "jdbc:IRIS://iris:1972/IRISAPP"
driver = "com.intersystems.jdbc.IRISDriver"
user = "SuperUser"
password = "SYS"
jarfile = "/notebooks/intersystems-jdbc-3.9.0.jar"

In [4]:
connection = jaydebeapi.connect(driver, url, [user, password], jarfile)

In [5]:
# Define Execute function
def exec_sql(sql):
    c1=connection.cursor()
    c1.execute(sql)

#Define Query execution function
def just_sql(sql):
    c1 = connection.cursor()
    c1.execute(sql)
    result = c1.fetchall()[0]
    c1.close()
    return result

## Referenciar Ficheros Externos

In [9]:
#Drop Foreign Server if already Exist
#exec_sql("DROP FOREIGN SERVER ext.crm CASCADE")

In [8]:
# Create Foreign Server
exec_sql("CREATE FOREIGN SERVER ext.crm FOREIGN DATA WRAPPER CSV HOST '/data/crm/'")

In [13]:
# Create the Foreign Table
exec_sql('''CREATE FOREIGN TABLE crm.clientes( 
    IDCliente VARCHAR(30),
    Nombre VARCHAR(50),
    Apellidos  VARCHAR(50),
    Genero VARCHAR(1),
    FechaNacimiento DATE,
    DireccionPais VARCHAR(20),
    DireccionCiudad VARCHAR(20),
    DireccionRegion VARCHAR(20),
    DireccionCodigoPostal VARCHAR(10)) SERVER ext.crm FILE 'clientes.csv' 
    USING '{"from":{"file":{"header":true}}}' ''')

In [19]:
#Get and Display the Contents
df=pd.read_sql("select top 10 * from crm.clientes",connection)
display(df)

,IDCliente,Nombre,Apellidos,Genero,FechaNacimiento,DireccionPais,DireccionCiudad,DireccionRegion,DireccionCodigoPostal
0,17850,José,Fernández Ferrer,M,2001-11-06,United Kingdom,None,None,None
1,13047,Antonio,Jordana Martinez,M,1970-07-07,USA,None,None,None
2,12583,Ana,López Rodriguez,F,1980-07-09,United Kingdom,None,None,None
3,13748,Celestina,Martinez López,F,2004-03-04,United Kingdom,None,None,None
4,15100,Carmen,González Martinez,F,1979-11-01,España,Sevilla,None,41001
5,17908,Javier,González Rodriguez,M,2004-10-03,USA,None,None,None
6,15291,Isabel,Jordana González,F,1976-02-27,USA,None,None,None
7,14688,Daniel,Fernández Jordana,M,2004-08-08,Francia,None,None,None
8,17809,Daniel,López Pérez,M,1975-10-28,España,Sevilla,None,41001
9,15311,Pilar,Fernández García,F,1996-09-13,United Kingdom,None,None,None

# Referenciar BBDD Externa